@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Kumbh+Sans:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background-color: #141414;
    }
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: 1px solid #262626;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    padding: 8px;
    font-size: 1.05rem;
    color: white;
}

.ql-editor.ql-blank::before {
    color: grey;
    font-style: normal;
}