@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Kumbh+Sans:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background-color: #141414;
    }
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: 1px solid #262626;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    padding: 8px;
    font-size: 1.05rem;
    color: white;
}

.ql-editor.ql-blank::before {
    color: grey;
    font-style: normal;
}

.custom-css p {
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.custom-css img {
    width: 100%;
    object-fit: cover;
}

.custom-css h1 {
    font-size: 40px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
}

.custom-css h2 {
    font-size: 30px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
}

.custom-css h1,
h2,
h3 {
    margin-bottom: 1rem;
}

.custom-css ul {
    list-style-type: disc;
}

.custom-css li {
    margin-left: 2rem;
}

.custom-css blockquote {
    border-left: 4px solid #fff;
    padding-left: 16px;
    margin: 0;
    font-style: italic;
    color: #7E7E81;
}

.custom-css a {
    color: #FFD11A;
    text-decoration: none;
}

.custom-css pre {
    background-color: #1A1A1A;
    padding: 10px;
    border: 1px solid #262626;
    border-radius: 5px;
    overflow-x: auto;
    margin-bottom: 1rem;
}